.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: black;
}
.link{
    color: white;
    font-size: 30px;
    margin: 1rem;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    color: white;
}
