.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4rem;
    max-width: 1800px;
    padding: 2rem;
    margin-bottom: 2rem;
}
.card{
    width: 600px;
    height: 600px;
    box-shadow: 10px 20px 15px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 1rem;
    background: rgb(0, 0, 0);
    border: 1px solid transparent;
    margin-bottom: 2rem;
    margin-right: 1rem;
}
.card:hover{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.555);
}
.card-image{
    width: 570px;
    height: 370px;
    border-radius: 10px;
}
.card-image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.card-arrow{
    width: 50px;
    height: 50px;
    margin-left: 2rem;
    animation: slideArrow 5s infinite;
}
@keyframes slideArrow {
    0% {
      transform:  translateX(-50%);
    }
    50% {
      transform:  translateX(50%);
    }
    100% {
      transform:  translateX(-50%);
    }
  }
.card-image .card-link{
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.555);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    background: transparent;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1rem;
}
.card-image .card-link:hover{
    background: rgba(255, 255, 255, 0.469);
    color:black;
    border: 1px solid transparent;
}
.card-qr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-qr p{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
}
.pagination{
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}
.pagination button{
    width: 30px;
    height: 30px;
    margin: .5rem;
    border-radius: 50%;
    border: none;
    box-shadow: 10px 20px 15px rgba(0,0,0,0.25);
    cursor: pointer;
    font-weight: bold;
}
.pagination button:hover{
    background: black;
    color: white;
}
.active{
    background: black;
    color: white;
}
.btn-home{
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.icon{
    width: 50px;
    height: 50px;
    color: white;
}

@media (max-width: 1315px){
    .card{
        width: 80%;
    }
    .card-image{
        width: auto;
    }
    .card-image img{
        width: 100%;
        border-radius: 10px;
    }
    .card-arrow{
       margin-left: 5rem;
    }
  
}

@media (max-width: 500px){
    .btn-home{
        left: 0;
        right: 0;
    }
}

@media (max-width: 667px){
    .card{
        width: 500px;
    }
    .card-image{
        width: auto;
    }
    .card-qr img{
        width: 150px;
    }
    .card-arrow{
        display: none;
    }
  
}

@media (max-width: 450px){
    .card-qr{
        flex-direction: column;
    }
    .card-qr img{
        width: 100px;
    }
    .card-qr p{
        text-align: center;
        margin-bottom: 1rem;
        font-size: 12px;
    }

}